<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Ваши мета-теги и скрипты -->
</head>
<body style="color:var(--tg-theme-text-color); font-family: Arial, sans-serif;">
    <h1>Статистика</h1>

    <div>
        <p>Общее количество запусков чат-бота: <%= totalBotLaunches %></p>
        <p>Количество уникальных пользователей, запустивших чат-бот: <%= uniqueUsersCount %></p>
        <p>Общее количество запусков: <%= totalWebAppLaunches %></p>
        <p>Количество уникальных пользователей, запустивших Web-App: <%= uniqueWebAppUsersCount %></p>
    </div>

    <script>
        // Ваш скрипт для работы с WebApp
    </script>
</body>
</html>