<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
        }
    </style>


</head>

<body style="font-family: Arial, Helvetica, sans-serif;">

    <h1>Статистика</h1>

    <h2>Результаты сессий сканирования чеков</h2>
    <div id="myGrid" style="height: max-content; width:100%;" class="ag-theme-alpine"></div>

    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const gridDiv = document.querySelector('#myGrid');


            const response = await fetch('/adminstats/getStatPlatform');
            const { userActivityStats } = await response.json();
            console.log(userActivityStats)

            const columnDefs = [
                { field: "id", headerName: "Платформа" },
                // { field: "channel", headerName: "Канал/Аккаунт" },
                { field: "total_launches", headerName: "Общее количество запусков чат-бота" },
                { field: "unique_users", headerName: "Количество уникальных пользователей, запустивших чат-бот" },
                { field: "total_web_app_launches", headerName: "Общее количество запусков Web-App" },
                { field: "unique_web_app_users", headerName: "Количество уникальных пользователей, запустивших Web-App" },
                { field: "game_sessions", headerName: "Количество пользователей, завершивших игровую сессию" },
            ];

            const gridOptions = {
                columnDefs: columnDefs,
                rowData: userActivityStats,
                autoSizeColumns: true,
            };

            new agGrid.Grid(gridDiv, gridOptions);
        });
    </script>

</body>

</html>