<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Bot Web App</title>
</head>
<body>
    <h1>Telegram Bot Web App</h1>
    <form method="post">
        <img src="https://api.telegram.org/file/bot6864335366:AAG_sR1Im77CHeU_1dXUKi3IybTCOFdFPy8/photos/file_1.jpg" style="width: 300px; height: 300px;">
        <label for="message">Введите ваше сообщение:</label>
        <input type="text" id="message" name="message" required>
        <button type="submit">Отправить сообщение</button>
    </form>
</body>
</html>