<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/fonts.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/leaderboard.css" rel="stylesheet">
    <title>Таблица лидеров</title>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>
        eruda.init();
    </script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <noscript>
        <style>
            .simplebar-content-wrapper {
                scrollbar-width: auto;
                -ms-overflow-style: auto;
            }

            .simplebar-content-wrapper::-webkit-scrollbar,
            .simplebar-hide-scrollbar::-webkit-scrollbar {
                display: initial;
                width: initial;
                height: initial;
            }
        </style>
    </noscript>
</head>

<body>
    <img src="/images/logo.svg" alt="logo" class="logo">
    <h1 class="title">Топ-50 путешественников</h1>

    <div class="leaderboard_wrapper">
        <div id="leaderboard">
            <ol class="leaderboard_list">
                <% topUsers.forEach((user, index)=> { %>
                    <li data-user-id="<%= user.id %>" class="leaderboard_item">
                        <% function _func(name, last) { if (!name) { return '' ; } let anonymizedName; if (last) { if
                            (name.length>= 9) {
                            anonymizedName = '***' +name.slice(-3);
                            } else if (name.length >= 5) {
                            anonymizedName = '***' +name.slice(-2) ;
                            } else if (name.length >= 3) {
                            anonymizedName = '***' +name.slice(-1) ;
                            } else if (name.length >= 1) {
                            anonymizedName = '***' + name[0];
                            } else {
                            anonymizedName = '';
                            }
                            } else {
                            if (name.length >= 9) {
                            anonymizedName = name.slice(0, 3) + '***';
                            } else if (name.length >= 5) {
                            anonymizedName = name.slice(0, 2) + '***';
                            } else if (name.length >= 3) {
                            anonymizedName = name.slice(0, 1) + '***';
                            } else if (name.length >= 1) {
                            anonymizedName = name[0] + '***';
                            } else {
                            anonymizedName = '';
                            }
                            }

                            return anonymizedName;
                            }

                            let displayedName = _func(user.first_name) + ' ' + _func(user.last_name, true);
                            if (!displayedName.trim()) displayedName = 'Аноним'
                            %>
                            <div class="leaderboard_item_name_block">
                                <span>
                                    <%= index + 1 + '.' %>
                                </span>

                                <span class="leaderboard_item_name_block_name">
                                    <%= displayedName %>
                                </span>
                            </div>
                            <span class="leaderboard_item_score">
                                <%= user.score || 0 %>
                            </span>
                    </li>
                    <div class="leaderboard_hr"></div>
                    <% }); %>
            </ol>
        </div>
    </div>
    <button class="button exit">
        Выйти
    </button>

    <script>
        new SimpleBar(document.getElementById('leaderboard'), { autoHide: false });
        let tg = window.Telegram.WebApp;
        const userIdTg = tg.initDataUnsafe.user.id;
        let exist = false

        const exitButton = document.querySelector('.exit');
        exitButton.addEventListener('click', function () {
            tg.close()
        });


        document.addEventListener('DOMContentLoaded', () => {
            const leaderboard = document.getElementById('leaderboard');
            const listItems = leaderboard.querySelectorAll('li');

            listItems.forEach(item => {
                const userId = parseInt(item.dataset.userId);

                if (userId === userIdTg) {
                    item.style.fontWeight = 'bold';
                    exist = true

                    const displayedNameSpan = item.querySelector('.leaderboard_item_name_block_name');
                    displayedNameSpan.textContent = `${tg.initDataUnsafe.user.first_name} ${tg.initDataUnsafe.user.last_name}`
                }
            });

            if (!exist) {
                let position
                let score
                fetch('https://server.mega.irsapp.ru/user/place', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ id: userIdTg }),
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        position = data.data.position;
                        score = data.data.score;
                        const list = document.querySelector('.leaderboard_list')
                        const newUser = {
                            first_name: tg.initDataUnsafe.user.first_name,
                            last_name: tg.initDataUnsafe.user.last_name,
                            position: position,
                            score: score
                        };
                        console.log('new user', newUser)

                        const newItem = document.createElement('li');
                        newItem.className = 'leaderboard_item';
                        newItem.style.fontWeight = 'bold';
                        newItem.dataset.userId = userIdTg;
                        newItem.innerHTML = `
                            <div class="leaderboard_item_name_block">
                                <span>${newUser.position || 51.}</span>
                                <span class="leaderboard_item_name_block_name">${newUser.first_name + ' ' + newUser.last_name}</span>
                            </div>
                            <span class="leaderboard_item_score">${newUser.score || 0}</span>
                        `;

                        list.appendChild(newItem);

                        const hr = document.createElement('div');
                        hr.className = 'leaderboard_hr';
                        list.appendChild(hr);
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });

            }
        });

    </script>
</body>

</html>