<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Bot Web App</title>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>
        eruda.init();
    </script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>

<body style="color:var(--tg-theme-text-color); font-family: Arial, sans-serif;">
    <h1>Leaderboard</h1>

    <div id="leaderboard">
        <ol>
            <% topUsers.forEach((user, index) => { %>
                <li data-user-id="<%= user.id %>">
                    <% 
                        function _func(name) {
                            if (!name) {
                                return '';
                            }

                            let anonymizedName;
                            if (name.length >= 9) {
                                anonymizedName = name.slice(0, 3) + '***' + name.slice(-3);
                            } else if (name.length >= 5) {
                                anonymizedName = name.slice(0, 2) + '***' + name.slice(-2);
                            } else if (name.length >= 3) {
                                anonymizedName = name.slice(0, 1) + '*' + name.slice(-1);
                            } else if (name.length >= 1) {
                                anonymizedName = name[0] + '*';
                            } else {
                                anonymizedName = '';
                            }

                            return anonymizedName;
                        }

                        let displayedName = _func(user.first_name) + ' ' + _func(user.last_name);
                        if (!displayedName.trim()) displayedName = 'Анонимный пользователь'
                    %>
                    <%= displayedName %> - <%= user.score || 0 %> points
                </li>
            <% }); %>
        </ol>
    </div>

    <script>
        let tg = window.Telegram.WebApp;
        const data = tg.initDataUnsafe.user.id;
    
        document.addEventListener('DOMContentLoaded', () => {
            const leaderboard = document.getElementById('leaderboard');
            const listItems = leaderboard.querySelectorAll('li');
    
            listItems.forEach(item => {
                const userId = parseInt(item.dataset.userId);
                
                if (userId === data) {
                    item.style.fontWeight = 'bold';
                }
            });
        });
    </script>
</body>

</html>