* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #474747;
}

body,
html {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    font-family: 'Noto-IKEA', sans-serif;
    font-weight: 400;

    @media screen and (orientation: portrait) {
        font-size: min(1.2vh, 1.8vw);

        @media screen and (max-height: 730px) {
            font-size: min(1.05vh, 1.8vw);
        }
    }

    @media screen and (orientation: landscape) {
        font-size: 1.59vh;
    }
}


.logo {
    width: 22.5em;
    margin: 0 auto;
    margin-top: 1em;
}

.title {
    font-family: 'Lively-Headline', sans-serif;
    font-size: 3.4em;
}

.button {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #474747;
    font-size: 2.6em;
    font-weight: 700;
}