* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #474747;
}

body,
html {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

html {
    font-family: 'Noto-IKEA', sans-serif;
    font-weight: 400;
    font-size: min(1.05vh, 1.7vw);
}


.logo {
    width: 22.5em;
    margin: 0 auto;
    margin-top: 1em;
}

.title {
    font-family: 'Lively-Headline', sans-serif;
    font-size: 3.4em;
}

.button {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #474747;
    font-size: 2.6em;
    font-weight: 700;
    cursor: pointer;
}

.button_background {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    border-radius: 4em;
    background: #EAE3DA;
    width: 100%;
}
.button_yellow {
    background: #FFDB00;
}